.dropDownContainer {
    width: 45%;
    margin-left: 50px;
}

.logoContainer {
    width: 30%;
}

.headerContainer {
    width: 100%;
}

.dropDownItemWidth {
    width: 30%;
}

.linkPadding {
    padding: 12px 10px;
}

.headerPadding {
    padding: 10px 0px 0px 0px;
}
