.dropDownContainer {
    width: 45%;
    margin-left: 50px;
}

.logoContainer {
    width: 30%;
}

.headerContainer {
    width: 100%;
}

.dropDownItemWidth {
    width: 30%;
}

.dropbtn {
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: 500;
  }
  