.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.centerText {
    text-align: center;
}

.ml-10 {
 margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pd-15 {
    padding: 0px 15px;
}